.banner{
    width:100%;
    margin-top: 1rem;
    background-image: url(https://cdn.pixabay.com/photo/2018/09/16/22/08/software-3682509_960_720.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
    height: max-content;

}
.banner-con{
    display: flex;
    padding-top: 4rem;
   justify-content: space-around;
   flex-direction: column;
}
.coinmaze{
    font-weight: bold;
    font-size: 5rem;
    text-align: center !important;
    margin-bottom: 15px;
}
.carousel-con{
    padding-top: 3rem;
    background-color: #1c1d26e2;
}